
    *{margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        background-color: rgb(29, 11, 46);
    }
    
    .nav{
        display: flex;
        background-color: rgb(29, 11, 46);
        justify-content: space-between;
        padding: 25px 100px;
        align-items: center;
        padding-bottom: 1px;
        padding-top: 60px;
    }
    .avatar{
        border-radius: 50%;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
    }
    button{
        font-size: large;
        border-radius: 20px;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
        padding: 10px;
        border-color: aliceblue;
     
    }
    button:hover{
        background-color: rgb(177, 15, 177);
        color: white;
    
    }
    
    .logo{
        color: white;
        font-size: 40px;
    }
    .links a{
        font-size: 35px;
        color: white;
        text-decoration:none;
        margin: 10px;
        
    }
    .links a:hover{
        color:rgb(199, 51, 199);
        column-gap: 30px;
       

    }
    .parent{
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(29, 11, 46);
        color: white;
        height: 80vh;
        font-size: 25px;
        padding: 30px;
        padding-top: 30px;
       
    }
    .child1{
        margin: 20px;
        padding-top: 130px;
        padding-bottom: 100px;
    }
    
    .child2{
        padding: 80px;
        padding-bottom: 10px;
    } 
    .child3{
        color: white;
        background-color: rgb(29, 11, 46);
        width: 1521px;
        height: 790px;
        padding: 70px;
        font-size: 20px;
    }
    .child44{
        background-color: rgb(29, 11, 46);
        color: white;
        padding:70px;
        padding-top: 30px;
        padding-bottom: 5px;
    } 
    .child44 h1{
        font-size: 40px;
        
    }
    .child44 p span{
        font-size: 25px;
       
    }
    .child4{
        color: white;
        background-color: rgb(29, 11, 46);
        width: 1451px;
        height: 650px;
        padding: 30px;
        padding-left: 150px; 
        padding-bottom: 30px;
        display:grid;
        grid-template-columns: 50% 50%;
        
    }
    .c1{
        padding: 40px;
        padding-top: 20px;
        display:grid;
        grid-template-rows: 50% 50%;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
        color: rgb(250, 248, 252) ;
    }
    .c1:hover{
        background-color: rgb(185, 57, 192);
        color: rgb(10, 10, 10);

    }
    .c2{
        padding: 40px;
        padding-top: 20px;
        display:grid;
        color: rgb(245, 244, 245) ;
        grid-template-rows: 50% 50%;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
    }
    .c2:hover{
        background-color: rgb(183, 57, 189);
        color: rgb(12, 10, 10);
    }
    .c3{
        padding: 40px;
        padding-top: 20px;
        display:grid;
        grid-template-rows: 50% 50%;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
        color: rgb(244, 243, 245) ;
    }
    .c3:hover{
        background-color: rgb(185, 54, 192);
        color: rgb(16, 16, 16);
    }
    .c4{
        padding: 40px;
        padding-top: 20px;
        display:grid;
        grid-template-columns: 50% 50%;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
        color: rgb(245, 244, 247) ;
    }
    .c4:hover{
        background-color: rgb(189, 49, 196);
        color: rgb(14, 13, 13);
    }
    .c{
        width:500px;
        height:260px;
        background-color: rgb(32, 117, 160);
        border-radius: 20px;
        display:flex;
        justify-content:space-evenly;
        align-items: center;

    }
    .child5{
        background-color: rgb(29, 11, 46);
        color: white;
        padding: 70px;
        padding-top: 25px;
        width: 1450px;
        height: 40px;
        font-size: 23px;

        
    }
    .child5 a{
        color: white;
        margin: 10px;
        padding: 10px;
        font-size: 30px;
        border-radius: 15px;
        text-decoration: none;

    }
    .child5 a:hover{
        color: rgb(199, 51, 199);
        box-shadow: 10px 10px 20px  rgb(199, 51, 199), -10px -10px 20px  rgb(199, 51, 199);
    }
    
    .child6{
        background:rgb(29, 11, 46) ;
        width: 1450px;
        height: 550px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
        margin-top: 85px;
        margin-bottom: 15px;
    }
    .con{
       color: white;
         width: 570px;
    }
    
    .form{
       margin: 40px;
        border-radius: 15px;
        width: 450px;
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
        align-items: center;
        padding-left: 80px;
        padding-right: 40px;
        padding-bottom: 40px;
        z-index: 1;

    }
    
    
    .form h1{
        padding-top: 30px;
        font-size: 45px;
        color: white;
        padding-left: 40px;
    }    
    .name{
        width: 300px; 
        height: 35px;
        font-size: medium;
        border-radius: 15px;
        border-color: rgb(79, 80, 81);
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
    }
    .email{
        width: 300px; 
        height: 35px;
        font-size: medium;
        border-radius: 15px;
        border-color: rgb(79, 80, 81);
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;
    }
    .bio{
        width: 300px; 
        height: 65px;
        border-radius: 15px;
        border-color: rgb(79, 80, 81);
        box-shadow: 4px 4px 8px white, -4px -4px 8px white;}
    :placeholder-shown {
        padding-left: 15px;
        font-size: 17px;
        color: rgb(12, 11, 11);
        
    }
    .submit{
            width: 200px; 
            height: 35px;
            border-radius: 15px;
            border-color: rgb(72, 71, 71);
            box-shadow: 4px 4px 8px white, -4px -4px 8px white;
            font-size: large;
            margin-left: 40px;
        
        }
    .submit:hover{
        background-color: rgb(169, 24, 159);
        color: white;    
    }
    footer{
        background-color: rgb(29, 11, 46);
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        margin: 10px;
        border-radius: 15px;
        box-shadow:inset 4px 4px 8px white,inset -4px -4px 8px white;

    }
    footer p{
        margin-bottom: 20px;
    }
    footer a{
        color: white;
        padding: 10px;
        border-radius: 10px;
        border-color: white;

    }
    footer a:hover{
        color: rgb(199, 51, 199);
        box-shadow: 6px 6px 12px rgb(164, 48, 164), -6px -6px 12px rgb(179, 45, 179);
    }
    